
[Dd]ebug/
[Rr]elease/
bin/
obj/

.vs/
*.suo
*.user
.vscode/

.nuget/
node_modules/

dist/
wwwroot/dist/
Dockerfile
appsettings.Development.json
appsettings.*.json
.env
.docker-compose.override.yml

postgres_data_final/
postgres_data_local/
postgres_data/

.docker-compose.yml

/appsettings
.appsettings
migrations/
.migrations